<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Random DSA Questions</h1>
    </header>

    <div class="container">
        <h2>Questions</h2>
        <div class="question-list">
            {% for question in questions %}
                <div class="question">
                    <h4>{{ question.name }}</h4>
                    <p>LeetCode Link: <a href="{{ question.link }}" target="_blank">{{ question.link }}</a></p>
                    <p>Topics: {{ question.topics }}</p>
                    <p>Count: {{ question.count }}</p>
                </div>
            {% endfor %}
        </div>

        <button onclick="window.location.href='/'">Back to Home</button>
    </div>

    <footer>
        <p>&copy; 2024 Vibhav Anand</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>